* {
  box-sizing: border-box;
}

*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: rgb(20, 20, 20);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px;
}

.nav-bar {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-logo {
  font-size: 34px;
  font-weight: 900;
}

.nav-categories-ul {
  list-style: none;
  width: 520px;
  display: flex;
  justify-content: space-evenly;
}

.nav-categories-li {
  border-bottom: 3px solid white;
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 600;
}

.nav-categories-li:hover {
  cursor: pointer;
  font-weight: 700;
  color: pink;
  border-bottom: 3px solid pink;
}

.main {
  width: 1200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 1200px;
  height: 55px;
  display: flex;
  align-items: center;
}

.search-bar-input {
  width: 90%;
  height: 100%;
}

.search-bar-button {
  width: 10%;
  height: 100%;
  color: rgb(20, 20, 20);
  background-color: white;
}

/* TRENDING/SEARCHED GIFS */

.gifs {
  display: flex;
  flex-direction: column;
}

.gifs-container {
  width: 1200px;
}

.gifs-list {
  width: 1200px;
  line-height: 0;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.gifs-li {
  width: 100% !important;
  height: auto !important;
  margin: 5px 0;
}

.gifs-img {
  height: 100%;
  width: 100%;
  padding: 0;
}

/* CATEGORIES */

.categories {
  /* display: flex;
  flex-direction: column; */
}

.categories-list {
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;
}

.categories-li {
  /* height: 175px; */
  margin: 5px;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */

  width: auto !important;
  height: auto !important;
}

.category-title {
  position: absolute;
  display: none;
  height: 100%;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.categories-li:hover .category-title {
  cursor: pointer;
  display: flex;
  background-color: rgba(75, 75, 75, 0.466);
}

.category-image {
  height: 100%;
  width: 300px;
}
