* {
  box-sizing: border-box;
}

*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: rgb(20, 20, 20);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px;
}

.nav-bar {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-logo {
  font-size: 34px;
  font-weight: 900;
}

.nav-categories-ul {
  list-style: none;
  width: 520px;
  display: flex;
  justify-content: space-evenly;
}

.nav-categories-li {
  border-bottom: 3px solid white;
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 600;
}

.search-bar {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}

.search-bar-input {
  width: 90%;
  height: 100%;
}

.search-bar-button {
  width: 10%;
  height: 100%;
  color: rgb(20, 20, 20);
  background-color: white;
}

.main {
  width: 100%;
}

/* TRENDING/SEARCHED GIFS */

.gifs {
  display: flex;
  flex-direction: column;
}

.gifs-list {
  display: flex;
}

.gifs-image {
  height: 150px;
  width: auto;
}

/* CATEGORIES */

.categories {
  display: flex;
  flex-direction: column;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories-li {
  height: 175px;
}

.category-link {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-title {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.category-link:hover .category-title {
  display: flex;
  background-color: rgba(75, 75, 75, 0.466);
}

.category-image {
  height: 100%;
  width: auto;
}
